.footer{
    width: 100%;
    width: 1024px;
}

.fLists{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList{
    list-style: none;
    padding: 0px;
}

.fListItem{
    margin-bottom: 10px;
    color: #12396e;
    cursor: pointer;
}

.fText{
    text-align: center;
}